BRIC_TILE_NAME=bric-tile
BRIC_LISTEN_IP=0.0.0.0
BRIC_LISTEN_PORT=4210
BRIC_WALL_WIDTH=64
BRIC_WALL_HEIGHT=64
BRIC_PANEL_ROWS=32
BRIC_PANEL_COLS=64
BRIC_PANEL_CHAIN=2
BRIC_PANEL_PARALLEL=1
BRIC_BRIGHTNESS=40
BRIC_TILE_MAC=auto
BRIC_HARDWARE_MAPPING=regular
BRIC_PIXEL_MAPPING=stacked-panel2-top-rot180
BRIC_OUTPUT_ROTATION=180
BRIC_SLOWDOWN_GPIO=4
BRIC_FRAME_TIMEOUT_MS=100
BRIC_SOCKET_RCVBUF=8388608
BRIC_IDLE_PATTERN=blank
